{% extends "main.html" %}

{% block title %}Практика иврита{% endblock %}

{% block content %}
<div class="title-rus">Практика иврита</div>
<div class="title-heb">תרגול עברית</div>
<div class="title-nav">
    <a href="{{ url_for('alphabet') }}" title="Случайные буквы алфавита">Алфавит</a>&emsp;
    <a href="{{ url_for('time_random') }}" title="Случайное время">Время</a>&emsp;
    <a href="{{ url_for('num_custom') }}" title="Перевести число на иврит">Ввод числа</a>&emsp;
    <a href="{{ url_for('num_random') }}" title="Случайное число">Случайное число</a>
</div>
{% endblock %}
