{% extends "main.html" %}

{% block title %}Ввод числа{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/num_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/num_custom.css') }}">
{% endblock %}

{% block custom_input %}
<!-- Custom number field -->
<div id="custom-num-input" class="form-row">
    <div class="col-4 col-lg-5"></div>
    <div class="col text-right">
        <input id="custom-num" class="form-control" type="number" value="0" autofocus>
        <div id="max-num-limit-tip"></div>
    </div>
    <div class="col-4 col-lg-5"></div>
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/num_main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/num_custom.js') }}"></script>
<script>
    $('#custom-num').select();
</script>
{% endblock %}
